<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="col-xl">
            <div class="header-body">
                <div class="card bg-white">
                    <div class="row mb-2 ml-4 mt-4">
                        <h4>Filter</h4>
                    </div>
                    <div class="row mt-2 ml-4 mr-4">
                        <div class="col-sm-4">
                            <label>Ticker</label>
                            <input class="form-control" type="text" id="ticker" placeholder="Ticker" aria-placeholder="Ticker">
                        </div>
                        <div class="col-sm-8">
                            <label>Date Range</label>
                            <div class="input-daterange datepicker row align-items-center">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Start date" type="text" value="06/18/2020" id="start-date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control" data-provide="datepicker" placeholder="End date" type="text" value="06/22/2020" id="end-date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 ml-4 mr-4">
                        <div class="col-sm-6">
                            <label>Indicators</label>
                            <select name="indicators" id="indicator" class="form-control">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div><label>Intraday Mode</label></div>
                            <label class="custom-toggle">
                                <input type="checkbox" id="intraday-mode">
                                <span class="custom-toggle-slider rounded-circle"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row ml-4 mt-2 mb-4 mr-4">
                        <div class="col-xl-4">
                            <button type="button" class="btn btn-default" onclick="submitFilter()">
                                <span class="btn-inner--icon"><i class="ni ni-atom"></i></span>
                                <span class="btn-inner--text">Submit</span>
                            </button>
                            <script>
                                function submitFilter() {
                                    // ticker field validation
                                    if (document.getElementById("ticker").value == ""){
                                        document.getElementById("ticker").className = "form-control is-invalid"
                                        return;
                                    } else {
                                        document.getElementById("ticker").className = "form-control"
                                    }

                                    // graph api call
                                    let data = {
                                        ticker: document.getElementById("ticker").value,
                                        startDate: document.getElementById("start-date").value,
                                        endDate: document.getElementById("end-date").value,
                                        indicator: document.getElementById("indicator").value,
                                        intradayMode: document.getElementById("intraday-mode").checked
                                    }
                                    
                                    console.log(data);
                                    $.post(
                                        "/api/v1/stockdetail", 
                                        data,
                                        function(data, status){
                                            console.log(data);
                                        }
                                    )
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>