<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="col-xl">
            <div class="header-body">
                <div class="card bg-white">
                    <div class="row p-4">
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="ticker" placeholder="Ticker" aria-placeholder="Ticker">
                        </div>
                        <div class="col-sm-8">
                            <div class="input-daterange datepicker row align-items-center">
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Start date" type="text" value="06/18/2020" id="start-date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                            </div>
                                            <input class="form-control" data-provide="datepicker" placeholder="End date" type="text" value="06/22/2020" id="end-date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>