<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required stylesheets -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/materia/bootstrap.min.css" integrity="sha384-B4morbeopVCSpzeC1c4nyV0d0cqvlSAfyXVfrPJa25im5p+yEN/YmhlgQP/OyMZD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Include Required Prerequisites -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script type="text/javascript" src="/static/assets/js/main.js"></script>

    <title>Stock Analyser</title>
    
    {% endblock %}
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Stock Analyser</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <img 
                    src="https://www.signivis.com/img/custom/avatars/member-avatar-01.png"  
                    style="vertical-align: middle;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;"
                />
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">Yogesh Upadhyay</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Accounts</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Pricing</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    
    <div class="col">

        <div class="row m-4 justify-content-between">
            <h3>Your Stocks</h3>
            <button type="button" class="btn btn-success">Add</button>
        </div>

        {% for row in stocks|batch(4) %}
            <div class="row m-4 no-gutters">
                {% for stock in row %}
                <div class="col">
                    <a href="/stock/{{ stock.id }}" style="text-decoration: none;">
                        <div class="card text-black bg-secondary m-3" style="width: 15rem; height: 15rem;">
                            <div class="card-body">
                                <img 
                                    src={{ stock.imageUrl }} 
                                    style="vertical-align: middle;
                                    width: 50px;
                                    height: 50px;
                                    margin: 10px;"
                                />
                                <h4 style="margin: 10px; color: black;">{{ stock.companyShortName }}</h4>
                                <h5 class="card-title" style="margin: 10px; color: black;">&#8377;{{ stock.closePrice }}</h5>
                                {% if stock.dayChange|float < 0.0 %} 
                                    <h6 class="card-subtitle" style="margin: 10px; color: red;">
                                        {{'%0.2f'| format(stock.dayChange|float)}} ({{'%0.2f'| format(stock.dayChangePerc|float)}}%)
                                    </h6>
                                {% else %}
                                    <h6 class="card-subtitle" style="margin: 10px; color: green;">
                                        {{'%0.2f'| format(stock.dayChange|float)}} ({{'%0.2f'| format(stock.dayChangePerc|float)}}%)
                                    </h6>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    
                </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>
    {% endblock %}
</body>
</html>