{% extends "index.html" %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Stock Analyser</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <img 
                src="https://www.signivis.com/img/custom/avatars/member-avatar-01.png"  
                style="vertical-align: middle;
                width: 40px;
                height: 40px;
                border-radius: 50%;"
            />
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
    </ul>
</nav>

<div class="col m-4">

    <h4>Filter Stocks</h4>

    <div class="row">
        <div class="col">
            <label for="tickerInput">TICKER</label>
        </div>
        <div class="col">
            <label for="indicator">Indicator</label>
        </div>
        <div class="col">
            <label for="daterange">Date Range</label>
        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" id="ticker" class="form-control" placeholder="Enter TICKER">
        </div>
        <div class="col">
            <input type="text" id="indicator" class="form-control" placeholder="Indicator">
        </div>
        <div class="col">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        <div class="col">
            <button class="btn btn-primary">Filter</button>
        </div>
    </div>

</div>
{% endblock %}