{% extends 'layouts/base.html' %}

{% block title %} Stocks {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="table-responsive">
    <div>
    <table class="table align-items-center table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Stock
                </th>
                <th scope="col">
                    Invested Value
                </th>
                <th scope="col">
                    Current Value
                </th>
                <th scope="col">
                    Return Rate
                </th>
                <th scope="col">
                    Return
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody class="list">
            
            <tr>
                <th scope="row" class="name">
                    <div class="media align-items-center">
                        <div class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://assets-netstorage.groww.in/stock-assets/logos/INE752P01024.png">
                        </div>
                        <div class="media-body">
                            <span class="mb-0 text-sm">Future Retail</span>
                        </div>
                    </div>
                </th>
                <td class="budget">
                    $2500 USD
                </td>
                <td class="status">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> pending
                    </span>
                </td>
                <td>
                    <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                            <img alt="Image placeholder" src="../../../assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                            <img alt="Image placeholder" src="../../../assets/img/dashboard/free/theme/team-2-800x800.jpg" class="rounded-circle">
                        </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                            <img alt="Image placeholder" src="../../../assets/img/dashboard/free/theme/team-3-800x800.jpg" class="rounded-circle">
                        </a>
                            <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                            <img alt="Image placeholder" src="../../../assets/img/dashboard/free/theme/team-4-800x800.jpg" class="rounded-circle">
                        </a>
                    </div>
                </td>
                <td class="completion">
                    <div class="d-flex align-items-center">
                        <span class="mr-2">60%</span>
                        <div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

</div>
{% endblock content %}